<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>header}}

    <title>Hello, world!</title>
  </head>
  <body>
      {{>navbar}}

        <div class="container-fluid about-sec bg-light" id="about-sec">
      <div class="row">
        <div class="col-11 col-md-10 mx-auto">
          <div class="main-title">
            <h1>About Me</h1>
          </div>
          <div class="row">
            <div class="col-md-5 col-11">
              <figure>
                <img src="images/pic5.jpg" class="img-fluid" alt="main-img" >
              </figure>
            </div>
            <div class="col-md-7 col-11 about-txt d-flex justify-content-center align-items-start flex-column">
              <p>Hello,</p>
              <h1>I'm a Passionate Designer</h1>
              <p>I'have 3 yeard experience. I can help you grew your business by something differnt and new for your business. I have done a lot of business and I have helped you a lot.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>